.lista{
	text-align: center;
}

.body{
	background-image: url("black.png");
	
}

.fejlec{
	text-align: center;
}

.tarolo{
	text-align: center;
	background-color: white;
}

.teljes{
	text-align: center;
}

.p{
	font-family: Arial;
	color: Beige;
}
.lista{
	text-align: center;
}
